.Pendu > .askWord {
    font-size: 1em;
    width: 50%;
    margin: 0.2em;
    position: absolute;
    left:30%;
    top: 15%;
}
.Pendu > .askWord input {
    display: block;
    width: 250px;
    margin-bottom: 0.2em;
    font-family: Menlo, Monaco, Consolas, Inconsolata, 'Courier New', monospace;
}